/*---General settings---*/
html {
    height: 100%;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

/*---Variables---*/

:root {
    --dark-blue-color: #12232E; /*Page background*/
    --lighter-blue-color: #007CC7; /*Buttons*/
    --lightest-blue-color: #4DA8DA;
    --shadow-dark-blue: #203647;
    --orange: #ff1e00;
    --white: #EEFBFB;
}

body {
    background-color: var(--dark-blue-color);
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-areas: "header header"
                         "filters main"
                         "footer footer";

    grid-template-rows: 70px 1fr 60px;
    grid-template-columns:1fr 3fr;
}

.header {
    grid-area: header;
}

.filters {
    grid-area: filters;
}

.main {
    grid-area: main;
    padding: 1rem 5rem 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    margin-top: 5rem;
}

.footer {
    grid-area: footer;
}

.container {
    padding: 0rem 5rem;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}


.header__logo {
    display: flex;
    align-items: center;
}

.header__logo span {
    margin-left: 10px;
    font-size: 3rem;
    color: var(--orange);
    font-family: 'Anton', sans-serif;
}

.header__logo img {
    width: 50px;
    height: 50px;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search input {
    opacity: 0;
    width: 0rem;
. height: 3.2 rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    outline: none;
    border: none;
    transition: 500ms ease-in;
}

.header__search input.active {
    opacity: 1;
    width: 25rem;
}

.header__search-icon {
    height: 3.2rem;
    width: 3rem;
    padding: 0.2rem;
    background-color: grey;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.user-card {
    width: 28rem;
    height: 35rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 2rem;
}

.user-card .user-card__inner {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

    flex: 1;
}

.user-card__icon {
    width: 2rem;
    height: 2rem;
}

.user-card__image {
    position: absolute;
    z-index: 10;
    width: 13rem;
    height: 13rem;
    top: -7.5rem;

    border-radius: 50%;
    border: 0.5rem solid var(--dark-blue-color);
    overflow: hidden;
}

.user-card__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.user-card__email, .user-card__phone, .user-card__location {
    position: relative;
}

.user-card__email img, .user-card__phone img {
    position: absolute;
    left: -2.5rem;
    top: -0.4rem;
}

.user-card__location img {
    position: absolute;
    left: -2.5rem;
    top: -0.7rem;
}

.user-card__name {
    font-size: 3rem;
    margin-top: 5rem;
    color: #1da1f2;
}

.user-card__phone {
    font-size: 1.4rem;
}

.user-card__age {
    font-size: 1.7rem;
}

.user-card__email {
    font-size: 1.5rem;
}

.user-card__location {
    font-size: 1.6rem;
    font-weight: bold;
}

.user-card__gender {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #EEFBFB;
    width: 100%;
    height: 5rem;
    color: #31394D;
    border-radius: 1rem;
}
